
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #212d3a;
    color: white;
    background-image: url("../images/backgroundStartPage.svg") ;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px;
    font-family: 'Quicksand', sans-serif;
    
  }
  .header_text{
    margin-top: 40px;
  margin-left: 500px;
  }
  nav {
    margin-bottom: 3rem;
    float: right;
  }
  
  aside {
    margin-top: 100px;
    margin-left: -80px;
    width: 23%;
    background-color: #444444;;
    padding: .5rem 2rem;
    border-radius: 3px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Quicksand', sans-serif;
    height: 280px;
  }
  
  .main {
    width: 66%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
  
  p {
    margin-top: 10px;
    line-height: 1.33;
    font-size: 16px;
    font-weight: 200;
  }
  
  #char-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1140px;
    margin-bottom: 3rem;
    
    
  }
  
  .char {
    font-family: 'Quicksand', sans-serif;
    width: 18%;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
  }
  
  .char img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  
  .char img:hover {
            filter: none;
            
            
  }
  
  .game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 50px;
        position: relative;
        left:-150px;
  }
  
  .game__box {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid ;
    margin: 5px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .game__box:nth-child(5) {
    background-image: url("/images/BlackHole_500px.png");
  }
  
  .game__box:nth-child(9) {
    background-image: url("/images/BlackHole_500px.png");
  }
  
  .game__box:nth-child(13) {
    background-image: url("/images/BlackHole_500px.png");
  }
  
  .game__box:nth-child(23) {
    background-image: url("/images/BlackHole_500px.png");
  }
  
  .game__box:nth-child(28) {
    background-image: url("/images/BlackHole_500px.png");
  }
  
  .game__box:last-child {
    background-color: #444444;
    border-radius: 50%;
  }
  
  .player {
    z-index: 100000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    
  }
  
  button {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 4rem;
    right: 4rem;
    margin-left: 6.3rem;
    padding: 2px;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid;
  }
  
  #message-holder {
    position: absolute;
    top: 500px;
    left: 30px;
    
  }
  
  .message {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 3px;
    width: 300px;
    padding: .5rem;
    border: 2px solid;
    z-index: 10000000;
    margin-right: 20px;

    background-color: #444444;
    
  }


  .winner {
    font-family: 'Quicksand', sans-serif;
    padding: 40px;
    color: black;
    text-align: center;
  }
  
  .winner a {
    color: black;
  }

  

  /*# sourceMappingURL=main.css.map */